<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdpost.mapper.UserMapper">
    <!--模板-->
    <select id="findAllUser" resultType="com.gdpost.model.User">
        select * from user
    </select>
    <insert id="insertUser" parameterType="com.gdpost.model.User">
	    insert into user(
	   		 id,username,password,nickname,imgUrl,sex,age,create_datetime,update_datetime,type,remark,visible,value,userId
	    ) 
	    values(
	     	#{id},#{username},#{password},#{nickname},#{imgUrl},#{sex},#{age},#{create_datetime},#{update_datetime},#{type},#{remark},#{visible},#{value},#{userId}
	    )
    </insert>
</mapper>